

.generic-window {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 90%, rgba(221,221,221,1) 100%, rgba(48,48,48,1) 100%);
    margin: 4px;
    margin-top: 10px;
    overflow: auto;
    height: calc(100% - 80px);
    width: calc(100% - 10px);
}

.generic-frame {
    width: fit-content;
    height: fit-content;
    background-color: #DDDDDD;
    position: absolute;
    box-shadow: 2px 2px 8px 0px black;
}

.window-title {
    color: black;
    padding: 8px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    text-shadow: -2px 2px 8px lightgray, 0 0 1em white, 0 0 0.2em white;
    font-family: 'Noto Sans', sans-serif;
    text-overflow: ellipsis;
}

.blog-content {
    margin: 30px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    align-self: normal;
    font-family: 'Open Sans', sans-serif;
}

.nav-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.nav-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.nav-btn:hover {
    background-color: gray;
}

.nav-btn:disabled {
    background-color: gray;
    cursor: initial;
}

.post-content {
    margin: 20px;
}

.post-header {
    margin: 20px;
    width: 150px;
    text-align: left;
    font-family: 'Lora', serif;

}

.post-author {
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-date {
    margin-top: 10px;
    font-style: italic;
    color: gray;
}

.window-header {
    display: flex;
    padding: 8px;
    flex-direction: row;
    justify-content: flex-start;
}
.action-buttons {
    margin-left: auto;
 
}


.btn-action-generic {
    color: black;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn-action-generic:hover {
    color: gray;
}

.btn-action-generic-close:hover {
    color: red;
}

.genericWindow-enter-active {
    animation-duration: 0.3s;
    animation-name: maximize;
}

.genericWindow-leave-active {
    animation-duration: 0.3s;
    animation-name: minimize;
}

@keyframes maximize {
    from {
        transform: scale(0);
        opacity: 0;
    }
          
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes minimize {
    from {
        transform: scale(1);
        opacity: 1;
    }
    
    to {
        transform: scale(0);
        opacity: 0;
    }
}
